main {
    padding: 105px 0;
    
}                     

form {
    background: url(../img/ilustra-contato.png) 800px 50% no-repeat;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 700px;
    
}
fieldset {
    border: none;
    padding: 0 0 0 139px;
}
legend {
    color: #ff4081;
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin: 0 0 44px;
}

form div {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
}

form input[type=text],form input[type=email], form textarea {
    width: 100%;
    border: 1px solid #68686868;
    outline: 0;
    border-radius: 7px;
    padding: 10px 21px;
}
form input[type=submit] {
   background: #ff4081;
   color: white;
   padding: 10px 21px;
   border: none;
   border-radius: 50px;
   font-size: 16px;
   font-weight: 800;
}