body {
  font-family: "ubuntu" Arial, sans-serif;
}
a {text-decoration: none;}
ul {list-style: none;}

.container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 0 60px;
  width: 100%;
 
}

header {
  background: #2e948a;
  display: flex;
  justify-content: center;
 
}

header h2 a {
  display: block;
  color: transparent;
  background: url(../img/logo-header.png) 0 0 no-repeat;
  width: 244px;
  height: 77px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 47px 20px;
  padding: 0;
  
}

header nav ul li {
  list-style: none;
}

header nav a {
  color: #fdfdfd;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

main {
  display: block;
}

footer {
  background: #419488;
  display: flex;
  justify-content: center;
}

footer h2 a {
  display: block;
  color: transparent;
  background: url(../img/logo-footer.png) 0 0 no-repeat;
  width: 312px;
  height: 102px;
}

footer ul {
  margin: 30px 0;
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer a {
  color: #fdfdfd;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}

.links-anexos a {
  border: 2px solid white;
  border-radius: 62px;
  padding: 14px 41px;
  display: block;
  margin: 0 0 14px;
  align-items: center;
}

@media only screen and (max-width: 769px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 481px) {
  .container {
    width: 460px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  header h2 {
    margin: 10px 0;
  }

  header nav ul {
    margin: 0 0 20px;
  }
}




